#choice-set-prompt {
    section.window-content {
        h3 {
            display: flex;
            justify-content: center;
        }

        button, select {
            display: flex;
            margin: 4px auto;
            max-width: 80%;
        }

        .choices {
            max-width: max-content;
            justify-items: center;
            margin: auto;

            button, .drop-zone {
                cursor: pointer;
                max-width: 100%;

                &:not(.with-image) {
                    min-width: 120px;
                    justify-content: center;
                }

                &.with-image {
                    align-items: center;

                    img {
                        border: 1px solid #444;
                        height: 1.6em;
                        margin-right: 0.5em;
                    }
                }
            }

            .drop-zone {
                border: 1px solid var(--color-border-light-primary);
                border-radius: 3px;
                color: #222;
                cursor: default;
                display: flex;
                padding: 1px 6px;
                font-family: var(--font-primary);
                font-size: var(--font-size-14);
                line-height: 28px;

                i.fas {
                    border: 1px solid #BBB;
                    border-radius: 2px;
                    align-items: center;
                    display: flex;
                    height: 1.6em;
                    justify-content: center;
                    margin-right: 0.5em;
                    width: 1.6em;

                    &:after {
                        font-size: 20px;
                    }
                }

                span {
                    color: black;
                    flex: 1;
                }
            }
        }
    }
}
